/*
- - - - basic prettyfying css - - - */
table {
  font-family: sans-serif;
}
th, td {
  padding: 10px;
}

thead th {
  text-align:left;
}
tbody tr:nth-of-type(odd) {
  background: #e0e0e0;
}


/* 
- - - Responsivise at breakpoint - - - - */
@media (max-width: 600px) {
  	  /* make tds into single column full width rows */
			tr,td {
				display: block;
				width: 100%;
         padding: 5px;
			}  
  
       /* hide table head */
      thead {
				display: none;
	  	}
  
		  /* place data attribute before td as a label */
    	td[data-header-title]:before {
				content: attr(data-header-title)'';
				display: block;
          color: #666;  
          /* labels will stack by default but optionally float to left */
          float:left;
          width:40%;
        
      }
      tbody {
          border-collapse: collapse;
        display:block;
      }
      tbody tr {
        margin-bottom:20px;
        border-bottom: 10px solid #222222;
        display:block;
     }
      /* unset background used on desktop view */
     tbody tr:nth-of-type(odd) {
        background: transparent;
      }
      tr td:nth-of-type(odd) {
          background:#eee;
      }

  

  
}