/* ======================================BATAS====================================== */
#taskbar {
  background-color: #e3f2fd ;
  left:0px;
  bottom:0px;
  margin-top:10px;
  position:fixed;
  width:100%;
  height: 65px;
  z-index: 9999;
  padding-top: 7.5px;
}

#taskbar .float {
  color: #fff;
  height: 50px;
}

#taskbaratas {
  background-color:#ff5a00;
  left:0px;
  top:0px;
  margin-top:0px;
  position:fixed;
  width:100%;
  height: 60px;
  z-index: 9999;
  padding-top: 12px;
}

#taskbaratas .float {
  color: #fff;
  height: 50px;
}
#taskbarataskosong {
  background-color:none;
  left:0px;
  top:0px;
  margin-top:0px;
  position:fixed;
  width:100%;
  height: 60px;
  z-index: 9999;
}

#taskbarataskosong .float {
  color: #fff;
  height: 50px;
}
.kotak {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 20%;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
  max-width: 20%;
  width: 100%;
  position: relative;
  min-height: 1px;
  max-height: 50px; 
  float:left;
  padding-top: 5px;
  text-align: center;
}
.kotakpanjang {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 83.4%;
      -ms-flex: 0 0 83.4%;
          flex: 0 0 83.4%;
  max-width: 83.4%;
  width: 100%;
  padding-top: 7px;
  position: relative;
  min-height: 1px;
  max-height: 50px; 
  float:left;
  text-align: left;
}
.kotakpanjangkosong {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 83.4%;
      -ms-flex: 0 0 83.4%;
          flex: 0 0 83.4%;
  max-width: 83.4%;
  width: 100%;
  padding-top: 0px;
  position: relative;
  min-height: 1px;
  max-height: 50px; 
  float:left;
  text-align: left;
}
/*css3 design scrollbar*/
::-webkit-scrollbar {
    width: 1px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);     
    background: #666;    
}
 
::-webkit-scrollbar-thumb {
    background: #232323;
}

/* ======================================BATAS====================================== */
#cssload  {
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
}

#overlayer {
  width:100%;
  height:100%;  
  position:absolute;
  z-index:1;
  background:#fff;
  padding: auto;
}
.loader {
  display: inline-block;
  width: 50px;
  height: 50px;
  position: absolute;
  z-index:3;
  border: 7px solid #4B515D;
  border-radius: 16px;
  top: 40%;
  left: 44%;
  animation: loader 2s infinite ease;
}
/*
.loader-inner {
  vertical-align: top;
  margin: auto;
  display: inline-block;
  width: 100%;
  background-color: blue;
  border-radius: 16px;
  animation: loader-inner 2s infinite ease-in;
}
*/
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}
/* ======================================BATAS====================================== */
.paddingatasmin {
  padding-top: 20px;
}
.paddingatas {
  padding-top: 60px;
}
.paddingatasplus {
  padding-top: 70px;
}
.paddingbawah {
  padding-bottom: 90px;
}
/* ======================================BATAS====================================== */
/*css3 design scrollbar*/
::-webkit-scrollbar {
    width: 0px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);     
    background: #666;    
}
 
::-webkit-scrollbar-thumb {
    background: #232323;
}
/* ======================================BATAS====================================== */
.map-container{
overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.map-container iframe{
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}



.w-15 {
    width: 10%;
}
.w-25 {
    width: 25%;
}
.w-30 {
    width: 30%;
}
.w-60 {
    width: 60%;
}
.w-75 {
    width: 75%;
}

/* ======================================PIE CHART====================================== */



/* ======================================BAR CHART====================================== */

.highcharts-figure, .highcharts-data-table table {
    max-width: 300px; 
    width: auto;
    margin: 1em auto;
}

#container {
    height: 400px;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #EBEBEB;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 300px;
}
.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}
.highcharts-data-table th {
  font-weight: 600;
    padding: 0.5em;
}
.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
    padding: 0.5em;
}
.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}
.highcharts-data-table tr:hover {
    background: #f1f7ff;
}
